<div class="nav-scroller bg-white shadow-sm">
  <div class="col">
    <nav class="nav nav-underline">
      <a class="nav-link active">Dashboard</a>
    </nav>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-stammdaten></app-stammdaten>
    </div>
  </div>

</div>
<footer class="footer" [ngStyle]="{'background-color':this.dataService.progressColor}">
  <div class="container-fluid">
    <div style="display: flex;" *ngIf="progressOn === false">Ladevorgang abgeschlossen.
    </div>
    <div style="display: flex;" *ngIf="progressOn === true">
      <div class="uploader-status">
        <mat-spinner style="margin-right: 7px;" color="white" diameter=15></mat-spinner>
      </div><span style="font-size: 600;overflow: hidden;
      white-space: nowrap; text-overflow: ellipsis;">{{this.dataService.progressMessage}} </span>
    </div>
  </div>
</footer>